:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #323232); /* page background /*

  /* Header */
  --color-head-bg: #ff6c2d;

  /* Logotype */
  --color-logotype-bg: #626262;
  --color-text-logotype: #f3f3f3;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #d50000;
  #logotype-wrapper {
    background-color: #000000;
  }
  /* Links */
  --color-link-text: #000;
  --color-link-bg: #fbfbfb;
  --color-link-hover: #ff000063; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: light-dark(#000000, #ffffff);
  --color-headline-text-page: light-dark(#ffffff, #121212);

  /* Tekst */
  --color-text: light-dark(#000000, #ffffff);
  --color-text-inverted: light-dark(#ffffff, #121212);

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #626262);
  --color-cta-card-bg: #d50000;
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #626262);
  --color-news-bg-inverted: #ff6c2d86;
  --color-cta-newscard-bg: light-dark(#0084ffed, #ffffffc4);
  --color-cta-newscard-bg-inverted: light-dark(#ffffff, #121212);

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 45px;
  --headline2-size: 36px;
  --headline3-size: 32px;
  --bodytext-size: 1rem;
  --cta-text-size: 20px;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #626262);
  --color-infobox-1-bg: light-dark(#fceb94a0, #323131);
  --color-infobox-2-bg: light-dark(#fceb94, #ff9640cd);
}

/*darkmode*/
/* CSS Starter er tilføjet */
html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

.ikon {
  max-width: 15%;
}
