[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: auto;
  opacity: 0;
  translate: 0 50px;
  transition: 0.5s allow-discrete;

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
    translate: none;
  }

  &::backdrop {
    background: #0008;
  }
}

[popover]:popover-open {
  opacity: 1;
}

@starting-style {
  [popover]:popover-open {
    translate: 0 50px;
    opacity: 0;
    scale: 0.8;
  }
}

/* Backdrop */
::backdrop {
  opacity: 0;
  transition: 0.5s allow-discrete;
  background: #0008;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}

/*footer*/
footer {
  width: 100%;
  border-top: 2px solid black; /* Creates the black line */
  margin-top: 80px;
  padding-bottom: 120px;
}

.logo img {
  width: 150px;
  height: auto;
}

#logotype-wrapper {
  min-height: 3.6rem;
  padding: 4rem;
  padding-left: 1rem;
  background-color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
